* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.html-entrada {
    font-family: "Montserrat Alternates", sans-serif;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo {
    position: sticky;
    width: 30%;
    margin: 20px 0px 10px 250px;

}

.curso {
    margin-right: 380px;
    font-size: 20px;
}

.front {
    font-weight: bold;
    background: none;
}

.integradora {
    font-size: 20px;
    font-family: 400;
    text-align: center;
    margin: 30px 0;

}


.button-acess {
    font-size: 20px;
    border-radius: 9px;
    border-color: brown;
    box-shadow: 12px 12px 18px hsl(0, 57%, 27%);
    width: 350px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: -40px;
    margin-left: -175px;
    transition: transform 0.2s;
    font-weight: bold;

}

button:hover {
    transform: scale(1.1);
}

body.global-styles {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 92%, rgba(0, 0, 0, 1) 100%);
    color: #ffff;
    font-family: "Montserrat Alternates", sans-serif;
}

#logo_header {
    position: sticky;
    width: 60%;
    margin-left: 20%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.atalhos {
    text-align: center;
    text-decoration: none;
    color: black;
    list-style: none;

}

.atalhos ul {
    list-style: none;
    padding: 0;

}

.atalhos ul li {
    display: inline-block;
    margin: 0 6px;
}

.atalhos ul li a {
    color: black;
    cursor: pointer;
    background: none;
    text-shadow: 12px 12px 18px hsl(0, 0%, 3%);
    font-size: 14px;
    margin: 6px;
    text-decoration: none;
    transition: text-shadow 0, 1;
    list-style: none;
}

.atalhos ul li a:hover {
    font-size: 16px;
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.7);
}

.atalhos:visited {
    color: black;
}

.section-1 {
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.design-fashion {
    flex: 1;
    width: 40%;
    padding: 5px 100px 0px 130px;
    color: black;
    text-align: justify;

}

#titulo-1 {
    font-size: 48px;
    font-family: "Ephesis";
    padding-right: 20px;
    margin: 100px 50px 0px 20px;
    border-bottom: 2px solid #A35750;

}

.sobre-nos {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.photo-distribution {
    width: 100%;
    max-width: 450px;
    box-shadow: 8px 8px 10px black;
    margin: 100px 130px 0px 5px;
}

#figure-1 {
    margin-left: 2%;
    color: black;
}

.photo-history {
    width: 100%;
    max-width: 450px;
    box-shadow: 8px 8px 10px black;
    margin: 80px 80px 0px 110px;
}

.section-2 {
    margin-top: 100px;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    flex-direction: row;
}

#titulo-2 {
    padding-right: 10px;
    margin: 10px 0px 10px 2px;
    border-bottom: 2px solid #A35750;
    font-size: 48px;
    font-family: "Ephesis";
}

.historia {
    flex: 1;
    width: 38%;
    padding: 50px 150px 0px 5px;
    color: black;
    text-align: justify;
    font-size: 18px;

}

#figure-2 {
    color: black;
    margin-left: 18%;
}

.photo-history {
    width: 100%;
    max-width: 450px;
}

.section-3 {
    color: black;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-top: 100px;
}

#titulo-3 {
    margin: 50px 150px 0px 150px;
    border-bottom: 2px solid #A35750;
    font-size: 48px;
    font-family: "Ephesis";
}

.diferencias-lista {

    list-style-type: none;
    margin: 20px 150px 80px 150px;
    padding-left: 0;
}

.diferencias-lista li {
    margin-bottom: 10px;
    font-size: 20px;
}

#final {
    text-align: center;
}
.footer {

    color: black;
    margin-bottom: 10px;
    display: inline-block
}

#logo-footer {
    position: sticky;
    width: 20%;
    margin: 10px auto;
    display: block;
}

#copy {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.section-visible {
    opacity: 1;
}


@media (max-width: 950px) {

    .container {
        display: block;

    }

    .curso {
        margin: 15px 80px;
        font-size: 8px;

    }

    .logo {
        max-width: 80px;
        margin: auto;
        display: block;
        width: 60%;
    }

    .button-acess {
        font-size: 15px;
        width: 250px;
        height: 25px;
        top: 65%;
        left: 58%;

    }

    .integradora {
        font-size: 15px;
    }


    .atalhos ul li a {
        font-size: 10px;

    }

    .section-1 {
        display: block;
    }

    #titulo-1 {
        font-size: 22px;
    }

    .design-fashion {
        padding: 5px 50px 0px 50px;
        width: 95%;
    }

    .sobre-nos {
        font-size: 15px;
        margin-bottom: 20px;

    }

    .photo-distribution {
        max-width: 280px;
        margin: auto;
        display: block;
        width: 60%;
    }

    #figure-1 {
        margin: 15px 90px;
        font-size: 10px;
    }

    .section-2 {
        flex-direction: column;
        margin-top: 10px;
    }

    .historia {
        order: -1;
        width: 95%;
        padding: 5px 50px 0px 50px;
        font-size: 15px;
        margin-bottom: 20px;

    }

    .photo-history {
        margin: auto;
        display: block;
        max-width: 280px;
        margin-bottom: 10px;
        width: 60%;

    }

    #titulo-2 {
        font-size: 23px;
    }

    #titulo-3 {
        font-size: 23px;
        margin-left: 10%;
        margin-top: 10px;
    }

    .diferencias-lista {
        padding: 0 25px;
        margin-left: 5%;
        width: 95%;


    }

    .diferencias-lista li {
        font-size: 15px;

    }

    footer {
        font-size: 10px;
    }

}
